.menu {
    position: sticky;
    float: center;
    color: white;
    margin: 5px;
    list-style: none;
    z-index: 9999999;
    cursor: pointer;
    background-color: black;
}

.SRI {
    font-size: 50px;
    font-family: fantasy;
    background-color: lightpink;
    color: white;
    text-align: center;
}

.item {
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy bold;
    font-size: 30px;
}
}
.wrapper{
    text-align: center;
}
#line{
   height: 6px;
    width: 200px;
    background-color: black;
    margin: 8px auto;
}
h1{
    text-align: center;
}
