

.book
{
  cursor: pointer;
}

.sport hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
      height: 500px;
      width: 400px;
  }
.p_modal
  {
      margin-top: 10px;
      text-align: center;
}
.modal-body
{
    text-align: center;
}
.img-responsive{
    height: 300px;
    width: auto;
}


