.srisri{
    width: 100%;
    height: 500px;
}
.srisri_div{
   border: 1px solid #c7c7c7;
   padding-left: 0px;
    padding-right: 0px;
    float: none;
}
#guru{
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    padding: 4px;
    
}
.border{
    border-width: 3px;
    padding:5px;
    border-color: black;
    width: 100%;
    height: 600px;
}
#videos{
    text-align: center;
}
#map{
    width:100%;
}